<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div *ngIf="currentSpace && viewLoaded">
    <div class="page-title">
        <h3 class="mat-h6">Currently viewing temporary space #{{currentSpace.id}}</h3>
    </div>
    <span class="mat-h3"><strong>Space subtitle: </strong><u>{{currentSpace.desc}}</u></span>
    <mat-card>
        <mat-card-header class="mat-h4">
            {{currentSpace.title}}
        </mat-card-header>
        <img mat-card-image src="https://www.science.org/do/10.1126/article.22522/abs/singledog.png"/>
    </mat-card>
</div>