<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="page-body">
    <div class="map bg">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.smoothradio.com%2Ffeatures%2Fthe-real-thing-today-where-are-they-now%2F&psig=AOvVaw0ctxNFygKgEfppHnj7tNBE&ust=1695167062031000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCPiltcartYEDFQAAAAAdAAAAABAE" alt="Map Placeholder">
        <div class="settings-filters-view">
            <div class="settings-container">
                <h2 class="header-2 font-primary-heavy">View Places</h2>
            
                <div>
                    <chip-toggle-set 
                        [chipSet]="[{
                            label: 'Filters',
                            icon: 'filter_list',
                            available: true,
                            checked: false,
                            }]"
                        [transparent]="true"
                        [readonly]="true">
                    </chip-toggle-set>
                </div>
                
                <mat-form-field appearance="outline" class="distance-select-card">
                    <mat-select>
                        <mat-option value="closest">Closest</mat-option>
                        <mat-option value="furthest">Furthest</mat-option>
                    </mat-select>
                </mat-form-field>

                <div>
                    <h4 class="font-primary-normal">Interest Points</h4>
                    <h6 class="font-primary-light"><small>Filter the buildings in your saved paths by the interest points in their proximity.</small></h6>
                </div>

                <div>
                    <chip-toggle-set
                        [chipSet]="interestPointsChipSet">
                    </chip-toggle-set>
                </div>
            
                <button 
                    mat-button
                    class="apply-settings-button">
                    Apply Filters
                </button>
            </div>
        </div>

        <div class="floating-card-buildings-view" cdkDragLockAxis="x" cdkDrag [cdkDragFreeDragPosition]="dragDisplayPositions.buildingsView">
            <!-- Scrollable list (initially hidden) -->
            <div *ngIf="isListVisible" class="scrollable-list">
                <img src="path/to/image1.jpg" alt="">
                <!-- ... -->
            </div>

            <div class="carousel">
                <div class="gpt-card" *ngFor="let building of PATH_BUILDINGS; let i = index">
                    <img [src]="building.images[0].url" [alt]="building.images[0].alt" class="gpt-card-image">
                    <div class="gpt-card-title-group">
                        <div class="building-title">
                            <mat-icon>
                                apartment
                            </mat-icon>
                            <h3 class="gpt-card-title font-primary-heavy">{{building.title ?? building.address}}</h3>
                        </div>
                        <div class="action-button-container">
                            <button mat-stroked-button class="building-detail-button">
                                <span class="font-primary-normal">
                                    VIEW LISTINGS
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button id="toggleExpand" class="expand-button">
                <mat-icon class="expand-more-less-icon">
                    {{ isListVisible ? 'expand_less': 'expand_more' }}
                </mat-icon>
            </button>
        </div>
    </div>
</div>