<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <ng-container *ngIf="buildingDetailChunk.direction === 'right-text'">
        <div class="left-panel">
            <img class="image-container-normal" src="{{buildingDetailChunk.image?.url}}">
        </div>
        <div class="right-panel text-panel">
            <span *ngIf="buildingDetailChunk.title" class="mat-headline-4">
                {{ buildingDetailChunk.title }}
                <span class="material-icons">
                    {{ buildingDetailChunk.googleIcon }}
                </span>
            </span>
            <div class="description-text">
                {{ buildingDetailChunk.plainText }}
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="buildingDetailChunk.direction === 'left-text'">
        <ng-container *ngIf="!amenityList; else amenityListContainer">
            <div class="left-panel text-panel">
                <span *ngIf="buildingDetailChunk.title" class="mat-headline-4">
                    {{ buildingDetailChunk.title }}
                    <span class="material-icons">
                        {{ buildingDetailChunk.googleIcon }}
                    </span>
                </span>
                <div class="description-text">
                    {{ buildingDetailChunk.plainText }}
                </div>
            </div>
        </ng-container>
        <div class="right-panel">
            <img class="image-container-normal" src="{{buildingDetailChunk.image.url}}">
        </div>
    </ng-container>
</div>
<div class="hidden alt-sidebar-wrapper">
    <div class="info-section">
        <span>
            {{ buildingDetailChunk.plainText }}
        </span>
    </div>
</div>

<ng-template #amenityListContainer>
    <div class="left-panel text-panel">
        <span *ngIf="buildingDetailChunk.title" class="mat-headline-4">
            {{ buildingDetailChunk.title }}
            <span class="material-icons">
                {{ buildingDetailChunk.googleIcon }}
            </span>
        </span>
        <div class="description-text amenity-chip-group">
            <mat-chip 
                *ngFor="let amenity of buildingDetailChunk.amenities" 
                matTooltip="{{amenity}}"
                class="amenity-chip">
                <span class="material-icons">
                    {{ BUILDING_AMENITY_ICONS[amenity] }}
                </span>
            </mat-chip>
        </div>
        <div class="feedback-prompt">
            <span class="feedback-prompt-text">
                Don't think this list is accurate? <u matTooltip="This should let you send a note...">Send us a note.</u>
            </span>
        </div>
    </div>
</ng-template>