<div class="container">
    <div class="top-div">
        <div class="user-info-details">
            <div class="user-info-title">
                <h1 class="font-primary-heavy">Account Info</h1>
            </div>
        </div>
    </div>
    <div class="user-data bottom-div">
        <h2 class="font-primary-normal">User Details</h2>
        <p>
            <span class="font-primary-heavy">Email,</span>
            <span id="user-email">
                {{this.userData.email }}
            </span>
            <mat-icon class="edit-icon disabled-color">
                edit_off
            </mat-icon>
        </p>
        <p>
            <span class="font-primary-heavy">Display Name,</span>
            <span class="user-display-name">
                {{ this.userData.displayName }}
            </span>
            <mat-icon 
                class="edit-icon">
                edit
            </mat-icon>
        </p>
        <p>
            <span class="font-primary-heavy">Phone,</span>
            <span id="user-phone">
            {{this.userData.phone }}
            </span>
            <mat-icon class="edit-icon">
                edit
            </mat-icon>
        </p>
        <p><span class="font-primary-heavy">Address,</span><span id="user-address">
            {{this.userData.address }}
            <mat-icon class="edit-icon">
                edit
            </mat-icon>
        </span>
        </p>
    </div>
</div>