@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// All items auto-centered horizontally
.main {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.full-width-button {
    width: 100%;
    padding: 3rem;
}

.menu-padding {
    margin: 0.5rem;
}

.font-dm-sans {
    font-family: 'DM Sans', sans-serif;
}