<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Moirai+One&family=Space+Grotesk:wght@300;500;700&display=swap"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<section class="header">
  <button class="menu-padding" mat-stroked-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu class="menu" #menu="matMenu">
      <div 
        *ngFor="let item of MENU_ITEMS">
        <button mat-menu-item 
        *ngIf="!(item.name === 'sign_out') || currentUserCredential"
        [routerLink]="item.routerLink" 
        [disabled]="item.routerLink === ''"
        (click)="getOnClick(item)">
          <mat-icon>{{ (item.name === 'account') ?  (currentUserCredential ? 'account_circle' : 'login') : item.icon }}</mat-icon>
          <span class="font-dm-sans">{{ (item.name === 'account') ? (currentUserCredential ? 'ACCOUNT' : 'SIGN IN / SIGN UP') : item.label }}</span>
        </button>
      </div>
    </mat-menu>
</section>
<section class="main">
  <router-outlet></router-outlet>
</section>