@use 'src/styles';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// All items auto-centered horizontally
.main {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: salmon;
}

.page-body {
    margin: 0 3rem 0 3rem;
}

.full-width-button {
    width: 100%;
    padding: 3rem;
}

.menu-padding {
    margin: 2rem;
}

.info-link {
    font-size: 1rem;
}

.toolbar-container {
    justify-content: end;
}

.action-bar {
    display: flex;
}

.action-bar-right {
    flex: 1;
}
.app-title {
    text-align: right;
    margin: 1rem 2rem 2rem 0;
}

.action-bar-item {
    justify-content: end;
    text-align: right;
    clear: left;
}