<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Moirai+One&family=Poppins:wght@400;700&family=Space+Grotesk:wght@300;500;700&display=swap"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="action-bar">
    <div class="user-actions-toolbar">
      <div class="top-div">
        <button class="menu-padding" mat-stroked-button [matMenuTriggerFor]="menu">
          <span class="font-primary-normal">
            Menu
          </span>
        </button>
        <mat-menu class="menu" #menu="matMenu">
          <div 
            *ngFor="let item of MENU_ITEMS">
            <button mat-menu-item 
            *ngIf="!(item.name === 'sign_out') || currentUserCredential"
            [routerLink]="item.routerLink" 
            [disabled]="item.routerLink === ''"
            (click)="getOnClick(item)">
              <mat-icon>{{ (item.name === 'account') ?  (currentUserCredential ? 'account_circle' : 'login') : item.icon }}</mat-icon>
              <span class="font-primary-normal">{{ (item.name === 'account') ? (currentUserCredential ? 'Account' : 'Sign In / Sign Up') : item.label }}</span>
            </button>
          </div>
        </mat-menu>
      </div>
      <div class="bottom-div">
        <div *ngIf="currentUserCredential" class="mat-h4">
          <mat-icon>check</mat-icon>
          User authenticated
          <div>
            <span class="display-name-label mat-h5">
              Hi there, user!
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="action-bar-right">
      <button 
        mat-icon-button 
        class="mobile-icon"
        matTooltip="View recent mobile activity!">
        <span class="material-symbols-outlined large-icon">
          edgesensor_high
        </span>
      </button>
      <div class="app-title">
        <h3 class="font-title action-bar-content">HOTSPOT</h3>
        <span subtitle class="font-primary-normal action-bar-content gray-color">
          powered by <b>StreetEasy</b> & <b>RentHop</b>
        </span>
      </div>
    </div>
</div>
<section class="main">
  <div>
    <span>Something else would go here...</span>
  </div>
</section>
<div class="page-body">
  <router-outlet></router-outlet>
</div>