@use 'src/styles';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// All items auto-centered horizontally
.main {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: salmon;
}

.page-body {
    margin: 0 3rem 0 3rem;
}

.full-width-button {
    width: 100%;
    padding: 3rem;
}

.menu-padding {
    margin: 2rem;
}

.gradient-button {
    display: inline-block;
    background: linear-gradient(to right, #333333, #CCCCCC);
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(172, 172, 172, 0.3);
}

.info-link {
    font-size: 1rem;
    border-color: transparent;
    background-color: lightgray;
}

.action-bar {
    display: flex;
}

.action-bar-right {
    flex: 1;
}

.app-title {
    text-align: right;
    margin: 1rem 2rem 2rem 0;
}

.action-bar-item {
    justify-content: end;
    text-align: right;
    clear: left;
}

.user-actions-toolbar {
    position: relative;
    height: 10rem;
    width: 20%;
}

.top-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.bottom-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding-left: 2rem;
}