<div>
    <div class="container">
        <div class="left-panel">
            <mdb-carousel [dark]="true" [controls]="true" [indicators]="true" [animation]="'slide'" #carousel>
                <mdb-carousel-item *ngFor="let image of currentListing?.images; let i = index">
                    <img alt="Listing #{{i}}" class="d-block w-100" loading="lazy" [src]="image" />
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
        <div class="right-panel">
            <div class="building-title-text">
                <h3 class="font-primary-heavy">{{ currentBuilding.title ?? currentBuilding.address }}</h3> 
                <mat-chip
                    *ngIf="currentBuilding.buildingType === BuildingTypeEnum.LUXURY">
                    {{BUILDING_TYPE[currentBuilding.buildingType].name}}
                </mat-chip>
                <span class="icon-container">
                    <mat-icon class="rent-stable-icon" *ngIf="currentBuilding.rentStabilized" matTooltip="Rent Stabilized">
                        money
                    </mat-icon>
                </span>
            </div>
            <div class="building-tag-chips">
                <mat-chip-listbox aria-label="Building tags">
                    <button class="visit-site-button" *ngIf="currentBuilding.website" [routerLink]="currentBuilding.website" mat-button>
                        <mat-icon>
                            location_pin
                        </mat-icon>
                        {{ currentBuilding.neighborhood ?? 
                            currentBuilding.latLong?.lat + ',' + currentBuilding.latLong?.long}}
                    </button>
                    <button 
                        class="visit-site-button"
                        *ngIf="currentBuilding.website"
                            [routerLink]="currentBuilding.website" mat-stroked-button>
                            <mat-icon>
                                link
                            </mat-icon>
                            Visit Website
                    </button>
                </mat-chip-listbox>
            </div>
            <div>
                <mat-tab-group class="tab-style">
                    <mat-tab label="Active">
                        <ul>
                            <li *ngFor="let listing of selectedListingSet | keyvalue" (click)="showListing(listing.value.id)">
                                <div class="card-item">
                                    <listing-card [listing]="listing.value">
                                    </listing-card>
                                </div>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Recent">
                        <ul *ngIf="closedListings">
                            <li *ngFor="let listing of selectedListingSet | keyvalue" (click)="showListing(listing.value.id)">
                                <div class="card-item">
                                    <listing-card [listing]="listing.value">
                                    </listing-card>
                                </div>
                            </li>
                        </ul>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <building-detail [currentBuilding]="currentBuilding">
    </building-detail>
</div>
