<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Moirai+One&family=Poppins:wght@400;700&family=Space+Grotesk:wght@300;500;700&display=swap"
  rel="stylesheet">
<div class="page-head">
  <div class="dashboard-tab-header" *ngIf="dashboardTabs[currentDashboardTabId] as currentDashboardTab">
    <div>
      <span class="mat-headline-3 font-primary-heavy">{{currentDashboardTab.tabTitle}}</span>
      <h5 class="mat-headline-6 font-primary-normal">{{currentDashboardTab.tabSubTitle}}</h5>
    </div>
    <div>
      <ul class="dash-tab-menu">
        <li class="dash-tab-menu-item">
          <button 
          mat-stroked-button 
          class="dash-menu-button font-primary-heavy margin-left"
          [class.selected]="currentDashboardTabId === 'recently-visited'"
          [class.dash-menu-unclicked]="currentDashboardTabId === 'recently-visited'"
          [class.mat-elevation-z2]="currentDashboardTabId !== 'recently-visited'"
          [disabled]="currentDashboardTabId === 'recently-visited'"
          (click)="selectTab('recently-visited')">
            Recently Visited
          </button>
        </li>
        <li class="dash-tab-menu-item">
          <button 
            mat-stroked-button
            class="dash-menu-button font-primary-heavy"
            [class.selected]="currentDashboardTabId === 'favorited'"
            [class.dash-menu-unclicked]="currentDashboardTabId === 'favorited'"
            [class.mat-elevation-z2]="currentDashboardTabId !== 'favorited'"
            [disabled]="currentDashboardTabId === 'favorited'"
            (click)="selectTab('favorited')">
            Favorited Buildings
          </button>
        </li>
        <li class="dash-tab-menu-item">
          <button 
            mat-stroked-button
            class="dash-menu-button font-primary-heavy white-color salmon-background"
            [class.selected]="currentDashboardTabId === 'popular'"
            [class.mat-elevation-z2]="currentDashboardTabId !== 'popular'"
            [disabled]="currentDashboardTabId === 'popular'"
            (click)="selectTab('popular')">
            Popular
            <mat-icon>
              {{ (currentDashboardTabId === 'popular') ? 'star' : 'star_outline'}}
            </mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="page-body">
  <div *ngIf="user && dashboardTabs[currentDashboardTabId].active" class="flex-container space-above">
    <div class="gpt-card" *ngFor="let building of MOCK_BUILDINGS; let i = index">
      <img
        [src]="MOCK_BUILDINGS[i].images[0].url"
        [alt]="MOCK_BUILDINGS[i].images[0].alt"
        class="gpt-card-image">
      <div class="gpt-card-title-group">
        <h3 class="gpt-card-title font-primary-heavy">{{building.title ?? building.address}}</h3>
        <p class="gpt-card-subtitle font-primary-light">{{building?.promoChunks?.[0]?.content}}</p>
        <div class="action-button-container">
          <button [routerLink]="['/building', building.id]" mat-icon-button class="favorite-button">
            <mat-icon>
              favorite_border
            </mat-icon>
          </button>
          <button [routerLink]="['/building', building.id]" mat-stroked-button>
            <span class="font-primary-normal">
              VIEW LISTINGS
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!user || !dashboardTabs[currentDashboardTabId].active" class="empty-dashboard-tab">
    <span class="font-primary-light no-content-message">[ Hm... nothing to see here. ]</span>
  </div>
</div>

<router-outlet></router-outlet>