<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Moirai+One&family=Poppins:wght@400;700&family=Space+Grotesk:wght@300;500;700&display=swap"
  rel="stylesheet">

<div class="">
  <div class="row">
    <div class="column space-right">
      <span *ngIf="user" class="mat-h4">
        <mat-icon>check</mat-icon>
        User authenticated
        <div>
          <span class="display-name-label mat-h5">
            Hi there, user!
          </span>
        </div>
      </span>
      <span *ngIf="!user" class="mat-h4">
        No user found
        <mat-icon>person_search</mat-icon>
        <div>
          <span class="display-name-label mat-h5">
            Who's there? <u (click)="openAuthDialog()">Sign in or register to continue.</u>
          </span>
        </div>
      </span>
    </div>
  </div>
  <span class="mat-headline-3 font-primary-heavy">Saved buildings</span>
  <h5 class="mat-headline-6">Visited buildings that you've saved.</h5>
  <div *ngIf="user" class="flex-container space-above">
    <mat-card class="max-card-width mat-elevation-z0 outline" *ngFor="let building of MOCK_BUILDINGS; let i = index">
      <mat-card-header>
        <mat-card-title><span class="font-primary-normal">{{building.title}}</span></mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="MOCK_BUILDINGS[i].images[0].url" [alt]="MOCK_BUILDINGS[i].images[0].alt">
      <mat-card-content>
        <p class="md-subhead">
          {{building.desc}}
        </p>
      </mat-card-content>
      <mat-card-actions [align]="'end'">
        <button [routerLink]="['/building', building.id]" mat-button><span class="font-primary-heavy">VIEW DETAILS</span></button>
        <button [routerLink]="" mat-button><span class="font-primary-normal">VIEW LISTINGS</span></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <span *ngIf="!user" class="mat-h4">
    No user found
    <mat-icon>person_search</mat-icon>
    <div>
      <span class="display-name-label mat-h5">
        Who's there? <u (click)="openAuthDialog()">Sign in or register to continue.</u>
      </span>
    </div>
  </span>
</div>

<router-outlet></router-outlet>