.flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.max-card-width {
    max-width: 400px;
}

.nameTag {
    margin-bottom: 1rem;
}

.space-above {
    margin-top: 3rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.align-right {
    text-align: right;
}

.display-name-label {
    padding-left: 3rem;
}

.font-header {
    font-family: 'Moirai One', sans-serif;
    font-size: 60px;
}

.font-primary {
    font-family: 'Space Grotesk', sans-serif;
}

.space-right {
    padding-right: 15rem;
}

.space-left {
    padding-left: 15rem;
}