@use 'src/styles';

.flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.max-card-width {
    max-height: fit-content;
    max-width: 350px;
}

.nameTag {
    margin-bottom: 1rem;
}

.space-above {
    margin-top: 3rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.align-right {
    text-align: right;
}

.display-name-label {
    padding-left: 3rem;
}

.space-right {
    padding-right: 15rem;
}

.space-left {
    padding-left: 15rem;
}

.aqua-bg-color {
    background-color: aquamarine;
}

.outline {
    border-color: #c3c3c3;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.5px;
}

.page-head {
    margin: 0rem 15rem 0rem 15rem;
}

.gpt-card {
    max-width: 25rem;
    height: fit-content;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gpt-card-image {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.gpt-card-title-group {
    padding: 20px;
    background-color: #f7f7f7;
    height: 35%;
}

.gpt-card-title {
    font-size: 20px;
    margin: 0;
}

.gpt-card-subtitle {
    font-size: 16px;
    margin: 5px 0 0;
}

.action-button-container {
    display: flex;
    width: 100%;
    justify-content: end;
}

.dashboard-tab-header {
    display: flex;
    justify-content: space-between;
}

.dash-tab-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dash-tab-menu-item {
    float: left;
}

.dash-tab-menu-item a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dash-menu-button {
    border-radius: 2rem;
    margin-right: 1rem;
}

.salmon-color {
    color: salmon;
    outline-color: salmon;
}
