<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
  <div class="column">
    <h3 class="mat-headline-4"><b>{{currentMonthDay}}</b>, {{currentYear}}</h3>
    <h4 class="mat-headline-5">[ {{currentTimeOfDay}} ]</h4>
    <span *ngIf="displayName$ | async | userName as userName" class="mat-h4">
      <mat-icon>check</mat-icon>
      User authenticated
      <div>
        <span class="display-name-label mat-h5">
          Hi there, <b>{{ userName }}</b>.
        </span>
      </div>
    </span>
  </div>
  <div class="column align-right">
    <h3 class="mat-headline-4"><strong>{{headerText}}</strong></h3>
    <h4 class="mat-headline-5">{{subHeaderText}}</h4>
  </div>
</div>
<div class="flex-container space-above">
    <mat-card class="max-card-width" *ngFor="let space of MOCK_SPACES">
        <mat-card-header>
          <mat-card-title>{{space.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="space.images" alt="{{space.alt}}">
        <mat-card-content>
          <p class="md-subhead">
            {{space.desc}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="['/space', space.id]" mat-button>Enter Space</button>
        </mat-card-actions>
      </mat-card>
</div>

<router-outlet></router-outlet>