.dialog-content {
    padding-top: 1.5rem;
}

.form-type-switch {
    cursor: pointer;
    float: right;
}

.dialog-title {
    margin: 2rem;
}

.dialog-icon {
    padding-top: 3rem;
}

.display-name-label {
    padding-bottom: 1rem;
}

.full-width-button {
    width: 100%;
}