<h1 mat-dialog-title>Sign In</h1>
<div mat-dialog-content class="dialog-content">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Sign In</button>
</div>