<div class="building-detail-container">
    <div class="building-header">
        <h4 class="mat-headline-4 font-primary-light">Welcome to</h4>
        <span class="mat-headline-1 font-primary-normal">
            {{currentBuilding.title ?? currentBuilding.address}}
            <span class="icon-set">
                <mat-icon class="icon-display-large icon-margin">
                    apartment
                </mat-icon>
                <mat-icon class="icon-display-medium icon-margin green-icon">
                    verified
                </mat-icon>
            </span>
        </span>
    </div>
    <div class="building-detail-content">
        <div class="container">
            <div class="left-panel">
                <img class="building-image-promo-chunk" src="{{ currentBuilding.images[0].url }}">
            </div>
            <div class="right-panel building-text-promo-chunk">
                <span>
                    {{currentBuilding.intro}}
                </span>
            </div>
        </div>
    </div>
</div>